.vscode/**
src/**
tsconfig.json
webpack.config.js
.gitignore
node_modules/vue/**
node_modules/typescript/**
node_modules/@babel/**
node_modules/@jridgewell/**
node_modules/@vue/**
node_modules/csstype/**
node_modules/entities/**
node_modules/estree-walker/**
node_modules/magic-string/**
node_modules/nanoid/**
node_modules/picocolors/**
node_modules/postcss/**
node_modules/source-map-js/**
